[submodule "vfa_t1"]
	path = vfa_t1
	url = https://github.com/qMRLab/vfa_t1.git
[submodule "mt_sat"]
	path = mt_sat
	url = https://github.com/qMRLab/mt_sat.git
[submodule "mt_ratio"]
	path = mt_ratio
	url = https://github.com/qMRLab/mt_ratio.git
[submodule "b1_afi"]
	path = b1_afi
	url = https://github.com/qMRLab/b1_afi.git
